@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
@import 'tailwindcss';

@theme {
  --breakpoint-zero: 0px;
  --breakpoint-3xl: 1800px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  input,
  textarea,
  button {
    appearance: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  input:focus {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
  }
  select:focus {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
  }
  button:focus {
    outline: none !important;
    outline-offset: none !important;
  }
  textarea:focus {
    outline: none !important;
    outline-offset: none !important;
  }
}

@layer utilities {
  body {
    /* color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb)); */

    font-family: 'Pretendard', sans-serif !important;
    line-height: normal;

    @apply overflow-hidden;
  }

  .scroll-transparent {
  }
  .scroll-transparent::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
    position: overlay;
  }
  .scroll-transparent::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);

    border-radius: 9999px;
    transition: all 0.3s;
  }
  .scroll-overlay {
    scrollbar-gutter: both-edges;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);

    border-radius: 9999px;
    transition: all 0.3s;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.45);
  }
  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
      background: rgba(180, 180, 180, 0.3);

      border-radius: 9999px;
      transition: all 0.3s;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: rgba(180, 180, 180, 0.45);
    }
  }

  .flex-center {
    @apply items-center justify-center;
  }

  .height-fill {
    height: 100vh;
    height: -webkit-fill-available;
  }
  .prevent-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
} */
}

.striped-background {
  background: radial-gradient(circle, transparent 20%, #a43f3f 20%, #a43f3f 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, #a43f3f 20%, #a43f3f 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(#d57f7f 1px, transparent 1px) 0 -1px, linear-gradient(90deg, #d57f7f 1px, transparent 1px) -1px 0;
  background-color: #a43f3f;
  background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
  animation: animateStripes 10s linear infinite; /* 애니메이션 */
}

@keyframes animateStripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px; /* 줄무늬가 100px씩 움직임 */
  }
}

.background {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ff4e50, #f92392);
  animation: gradientShift 5s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.background:before {
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(#ff6b6b 1px, transparent 1px);
  background-size: 20px 20px;
  animation: moveDots 10s linear infinite;
}

.login-page-transition {
  transition: top 0.75s cubic-bezier(0.25, 1, 0.4, 1);
}

@keyframes moveDots {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}
