@import url("https://webfontworld.github.io/pretendard/Pretendard.css");
@import "tailwindcss";

@theme {
  --breakpoint-zero: 0px;
  --breakpoint-3xl: 1800px;

  --font-pretendard: "Pretendard", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  input,
  textarea,
  button {
    appearance: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  input:focus {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
  }
  select:focus {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
  }
  button:focus {
    outline: none !important;
    outline-offset: none !important;
  }
  textarea:focus {
    outline: none !important;
    outline-offset: none !important;
  }
  button {
    cursor: pointer;
  }
  pre {
    white-space: pre-wrap;
    word-break: break-all;
    @apply font-pretendard;
  }
}

@layer utilities {
  body {
    /* color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb)); */

    font-family: "Pretendard", sans-serif !important;
    line-height: normal;
    background: #ae256c;
    background: -webkit-linear-gradient(135deg, #e84547, #e54196);
    background-attachment: fixed !important;
  }

  .scroll-transparent::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
    position: overlay;
  }
  .scroll-transparent::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);

    border-radius: 9999px;
    transition: all 0.3s;
  }
  .scroll-overlay {
    scrollbar-gutter: both-edges;
  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background: oklch(0.869 0.005 56.366);
  }
  ::-webkit-scrollbar-thumb {
    background: oklch(0.709 0.01 56.259);

    border-radius: 9999px;
    transition: all 0.3s;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: oklch(0.553 0.013 58.071);
  }
  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
      width: 9px;
      height: 9px;
      background: oklch(0.374 0.01 67.558);
    }
    ::-webkit-scrollbar-thumb {
      background: oklch(0.553 0.013 58.071);

      border-radius: 9999px;
      transition: all 0.3s;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: oklch(0.709 0.01 56.259);
    }
  }

  .flex-center {
    @apply items-center justify-center;
  }

  .height-fill {
    height: 100vh;
    height: -webkit-fill-available;
  }
  .prevent-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .webkit-sticky {
    position: -webkit-sticky;
  }

  .layer-bg-transparent {
    @apply bg-transparent;
  }
  .layer-bg-transparent.layer-hover {
    @apply hover:bg-black/20;
  }
  .layer-bg-1\/2 {
    @apply bg-black/20;
  }
  .layer-bg-1\/2.layer-hover {
    @apply hover:bg-black/30;
  }
  .layer-bg {
    @apply bg-black/30;
  }
  .layer-bg.layer-hover {
    @apply hover:bg-black/40;
  }
  .layer-bg-2 {
    @apply bg-black/40;
  }
  .layer-bg-2.layer-hover {
    @apply hover:bg-black/50;
  }
  .layer-bg-3 {
    @apply bg-black/50;
  }
  .layer-bg-3.layer-hover {
    @apply hover:bg-black/60;
  }
  .layer-bg-4 {
    @apply bg-black/60;
  }
  .layer-bg-4.layer-hover {
    @apply hover:bg-black/70;
  }
}

@layer components {
  .login-page-transition {
    transition: top 0.75s cubic-bezier(0.25, 1, 0.4, 1);
  }

  .list-game-card-cloud.active {
    animation: floatAround 15s ease-in-out infinite;
  }
  @keyframes floatAround {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(5px, -10px);
    }
    50% {
      transform: translate(0px, -20px);
    }
    75% {
      transform: translate(-5px, -10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .title-search-menu {
    opacity: 0;
    @apply absolute top-0 max-sm:w-[80vw] sm:w-128 h-29 rounded-2xl bg-black/30 backdrop-blur-lg duration-300;
  }
  .title-search-menu.show {
    opacity: 1;
  }
}
